.top{
	background-color: black;
	height: 100px;
}
.logo{
	height: 100px;
	margin-left: 50px;
}
.main{
	background-color: #ffed89;
	padding-top: 50px;
}
.flex{
	display: flex;
}
.img{
	height: 300px;
	width: 300px;
}
.img:hover{
	transition: 0.5s;
	height: 320px;
	width: 320px;
}
.text{
	text-align: center;
	font-family: arial;
	color: white;
}
.info{
	margin-left: 150px;
}
.text2{
	color: white;
	margin-top: 30px;
	margin-left: 800px;
	font-family: arial;
	font-size: 25px;
	font-weight: 10;
	text-decoration: none;
}
.mleft{
	margin-left: 40px;
}